body {
    background: #fff;
}

p {
    padding: 0;
    margin: 0;
}

.nav {
    margin-bottom: 20px;
}

button:focus,input:focus {
    outline: none;
}

.text-right {
    text-align: right;
}

.box-wrap {
    border: solid 1px #ccc;
}

.box-wrap h3 {
    font-size: 16px;
    border-bottom: solid 1px #ccc;
    margin: 0;
}

.box-wrap h3 > span {
    display: inline-block;
    margin: 0 10px;
    line-height: 44px;
    border-bottom: solid 2px orange;
}

.box-wrap .form-wrap {
    padding: 10px;
}

.form-wrap p {
    font-size: 12px;
    padding: 5px 0;
}

.item-wrap {
    display: flex;
    margin: 0 0 10px 0;
    align-items: center;
}

.item-wrap label {
    width: 70px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.box-wrap input {
    flex: 1 auto;
    border-radius: 5px;
    padding: 4px 10px;
    border: solid 1px #ccc;
    line-height: 24px;
    box-sizing: border-box;
}

.submit {
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border: none;
    background: orange;
    color: #fff;
    cursor: pointer;
    width: calc(100% - 70px);
    margin: 0 0 0 70px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.form-wrap .warning {
    font-size: 12px;
    color: orange;
    text-align: center;
}

.content-desc {
    padding: 20px 0;
}

.panel-body > h3 {
    text-align: center;
    font-size: 24px;
    padding:20px;
}

.comment textarea {
    margin-bottom: 10px;
    resize: none;
}
.comment .panel-heading em {
    font-size: 12px;
    float: right;
    line-height: 18px;
}
.comment .panel-body > p {
    padding: 10px 0;
    background: #ff3904;
    color: #fff;
    margin-bottom: 10px;
}
.comment .comment-list li {
    padding: 10px;
}
.comment .comment-list li:nth-child(2n) {
    background: #ededed;
}

.comment .comment-list li > h5 {
    font-size: 14px;
    font-weight: 700;
    margin:0;
    padding: 0 0 10px 0;
}

.comment .comment-list li > h5 > span {
    float: right;
}