{%extends 'layout.html'%}
{%block content%}
{%for content in contents%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{content.title}}</h3>
    </div>
    <div class="panel-body">
        <p>
            作者：{{content.user.username}}
            时间：{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}
            阅读：{{content.views}}
            评论：{{content.comments.length}}
        </p>
        <div class="content-desc">{{content.desc}}</div>
        <a href="/view?category={{content.category.id}}&contentId={{content.id}}" class="btn btn-default" role="button">点击阅读</a>
    </div>
</div>
{%endfor%}
<nav aria-label="...">
    <ul class="pager">
        {%if page > 1%}
        <li class="previous"><a href="/?category={{category}}&page={{page-1}}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
        {%endif%}
        {%if pages > 0%}
        <li><strong>{{page}}/{{pages}}</strong></li>
        {%else%}
        <li>暂无内容</li>
        {%endif%}
        {%if page < pages%}
        <li class="next"><a href="/?category={{category}}&page={{page+1}}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
        {%endif%}
    </ul>
</nav>
{%endblock%}